<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaCllge-PracticeSet</title>
    <style>
        .container{
            height: 100px;
            width: 100px;
            background-image: url(../../media/nature.jpg);
            background-size: cover;
        }
    </style>
</head>

<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, laudantium! Consequuntu
        r numquam eveniet rem
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur recusandae laboriosam rerum, culpa iure,
        quis atque accusantium error vero blanditiis quibusdam. Temporibus praesentium similique illum error libero
        ratione nam accusamus necessitatibus eligendi. Soluta necessitatibus temporibus laboriosam repellat eius maiores
        odio, obcaecati ut voluptatem nobis sed modi magni adipisci maxime nihil quidem sunt tempora exercitationem cum
        quos rem. Eos, obcaecati sed asperiores deleniti enim ratione delectus nesciunt consectetur cum impedit totam,
        aperiam aliquid et amet, labore inventore quas veritatis modi cupiditate nostrum eaque earum nihil expedita. Et
        nihil ipsum harum eos modi. Animi nobis totam repellendus laboriosam laudantium eius quae debitis ipsum dolore
        dolorum. Earum illo consectetur hic, nihil at quo sequi eveniet optio velit quidem commodi id! Odit dolorum,
        ratione nobis fugit quidem delectus? Laboriosam numquam quaerat, incidunt sed quisquam maiores ea voluptates
        exercitationem itaque error asperiores fugit atque? Molestias illo unde adipisci ut nemo tenetur et natus.
        Consectetur itaque fugit quas facere? Voluptates eveniet iure iusto odio labore expedita quae distinctio,
        dignissimos maxime. Laboriosam excepturi aliquid quam maiores exercitationem consequuntur perferendis? Sapiente
        aliquid voluptate molestias sed aliquam impedit repellat? Modi recusandae perspiciatis, delectus voluptatem,
        corrupti ullam consequatur aliquid necessitatibus voluptates vitae ipsum nobis accusantium enim corporis odit.
        Dignissimos, harum?
        vero saepe tenetur quasi quia magnam, excepturi hic beatae exercitationem ullam! Placeat, alias unde sunt et
        eius animi laboriosam saepe blanditiis perspiciatis dolor inventore amet explicabo atque, ad ipsam, sit sapiente
        tenetur libero reprehenderit minus nostrum! Repudiandae blanditiis itaque ipsa nobis dolores tenetur eius
        delectus soluta, enim fuga quos tempore? Incidunt inventore a culpa eveniet accusamus eius ullam ut consectetur?
        Magni facere, maiores eveniet voluptates dolores earum distinctio deserunt ipsum quo porro odit quaerat commodi
        nesciunt ad exercitationem sequi? Explicabo quod nesciunt aut adipisci error voluptatum non libero cum doloribus
        maxime, tempore eos neque beatae eaque dolor voluptates, sunt consequatur reiciendis. Doloribus veritatis neque
        beatae? Tempora ab doloribus unde consequatur cum doloremque consectetur voluptatibus aliquid voluptatem ipsa
        tenetur molestiae, laboriosam deserunt, eius non placeat numquam ipsum, veritatis commodi pariatur mollitia
        exercitationem possimus asperiores! Eveniet exercitationem expedita animi esse incidunt sapiente excepturi
        cumque quisquam, blanditiis saepe temporibus iste rerum modi minus enim asperiores eius. Veritatis quae magni
        nemo incidunt consectetur illum repellat excepturi illo repellendus voluptates, deleniti reprehenderit, facilis
        suscipit distinctio fugiat unde corporis error sit assumenda sapiente maxime reiciendis repudiandae. Molestias
        in est, ea laboriosam ducimus animi hic ipsam quibusdam, deleniti repellat dolorem voluptas itaque aspernatur
        repudiandae reiciendis quod adipisci nulla ab corporis alias atque eum! Similique et pariatur beatae, laborum ab
        maiores odit voluptas quae tempore, corporis repellat? Debitis nulla alias voluptatum obcaecati beatae
        architecto placeat, vero quis aperiam iste, eveniet totam labore minima unde tempora tempore dolorum facilis
        illo eius dicta est reprehenderit? Saepe blanditiis architecto reiciendis laborum ipsum illum, autem veniam
        commodi quos? Dolores, veniam obcaecati saepe quod ut quisquam laborum a tempore est ipsam harum nobis commodi
        accusamus libero iusto natus rem eos distinctio laboriosam beatae tenetur officia consectetur delectus.
        Consectetur, corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eos error accusantium tempore quidem porro
        quisquam voluptatibus perspiciatis nulla deleniti debitis dolor culpa quibusdam quos ducimus ratione, quam magni
        repellat?
        Ratione est mollitia harum esse voluptate repudiandae ab aperiam quam eos at. Pariatur, ut, beatae ullam tempora
        corrupti vero, perspiciatis reiciendis dolore fugit enim iure nobis officiis necessitatibus laboriosam nisi.
        Debitis maxime officia voluptatem cupiditate voluptas minima repellendus neque numquam nesciunt in tenetur culpa
        id, iste porro laborum laboriosam. Velit repudiandae blanditiis aliquam laborum, esse quod perspiciatis
        voluptatibus expedita obcaecati.
        Aperiam dolore ut necessitatibus minima laboriosam ratione hic ullam consequatur impedit deserunt quasi delectus
        aspernatur architecto maiores asperiores unde dolorem, fugit iure voluptate neque veniam, distinctio expedita
        rem modi. Assumenda.
        Aut dolore deserunt quae aliquid vero, a eaque nihil magni non rerum blanditiis quia esse, adipisci id
        voluptatum reprehenderit ex commodi dolorum labore mollitia molestias quibusdam iste voluptas! Unde, ea.
    </p>
    <div class="container">
        Love Nature
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, laudantium! Consequuntur numquam eveniet rem
        vero saepe tenetur quasi quia magnam, excepturi hic beatae exercitationem ullam! Placeat, alias unde sunt et
        eius animi laboriosam saepe blanditiis perspiciatis dolor inventore amet explicabo atque, ad ipsam, sit sapiente
        tenetur libero reprehenderit minus nostrum! Repudiandae blanditiis itaque ipsa nobis dolores tenetur eius
        delectus soluta, enim fuga quos tempore? Incidunt inventore a culpa eveniet accusamus eius ullam ut consectetur?
        Magni facere, maiores eveniet voluptates dolores earum distinctio deserunt ipsum quo porro odit quaerat commodi
        nesciunt ad exercitationem sequi? Explicabo quod nesciunt aut adipisci error voluptatum non libero cum doloribus
        maxime, tempore eos neque beatae eaque dolor voluptates, sunt consequatur reiciendis. Doloribus veritatis neque
        beatae? Tempora ab doloribus unde consequatur cum doloremque consectetur voluptatibus aliquid voluptatem ipsa
        tenetur molestiae, laboriosam deserunt, eius non placeat numquam ipsum, veritatis commodi pariatur mollitia
        exercitationem possimus asperiores! Eveniet exercitationem expedita animi esse incidunt sapiente excepturi
        cumque quisquam, blanditiis saepe temporibus iste rerum modi minus enim asperiores eius. Veritatis quae magni
        nemo incidunt consectetur illum repellat excepturi illo repellendus voluptates, deleniti reprehenderit, facilis
        suscipit distinctio fugiat unde corporis error sit assumenda sapiente maxime reiciendis repudiandae. Molestias
        in est, ea laboriosam ducimus animi hic ipsam quibusdam, deleniti repellat dolorem voluptas itaque aspernatur
        repudiandae reiciendis quod adipisci nulla ab corporis alias atque eum! Similique et pariatur beatae, laborum ab
        maiores odit voluptas quae tempore, corporis repellat? Debitis nulla alias voluptatum obcaecati beatae
        architecto placeat, vero quis aperiam iste, eveniet totam labore minima unde tempora tempore dolorum facilis
        illo eius dicta est reprehenderit? Saepe blanditiis architecto reiciendis laborum ipsum illum, autem veniam
        commodi quos? Dolores, veniam obcaecati saepe quod ut quisquam laborum a tempore est ipsam harum nobis commodi
        accusamus libero iusto natus rem eos distinctio laboriosam beatae tenetur officia consectetur delectus.
        Consectetur, corporis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eligendi odio, officiis
        autem culpa esse nulla commodi quaerat harum ullam qui. Vel hic laudantium aspernatur minima ratione similique
        odit nemo esse doloribus accusamus ea iure libero praesentium maxime error, excepturi provident possimus! Quas
        non ea quia delectus nulla laboriosam odit, dolorem nobis vero voluptatum velit eius ducimus nesciunt culpa
        suscipit sed inventore dolor qui provident aperiam? Perferendis aperiam nihil quia dolorum quisquam voluptatum
        amet in dolores nesciunt corrupti eos voluptatem dignissimos quidem iusto distinctio exercitationem, est nisi ab
        asperiores? Iusto aspernatur ipsum aut blanditiis minima obcaecati ad nam necessitatibus commodi doloribus
        impedit explicabo a, rem quasi aliquid consequuntur laborum temporibus, dicta sunt voluptate nulla. Modi natus
        ut voluptates recusandae quisquam odit est aperiam totam, sit nisi ipsum a illo. Tenetur illo tempora rem amet
        qui, error mollitia beatae nesciunt perspiciatis eligendi ipsam doloremque, accusantium illum aliquam adipisci
        veniam voluptates quo nulla, similique ab quod. Autem a quaerat temporibus nobis illum, debitis recusandae
        mollitia totam doloremque, velit libero, ut explicabo obcaecati necessitatibus laborum? Odit ratione et, fugit
        iusto suscipit impedit illum? Architecto eligendi repellendus quibusdam dolorum? Minima, provident maiores
        facilis deleniti fuga iure aut delectus voluptates exercitationem vel optio suscipit pariatur sed, aliquam
        quaerat veniam nemo ex enim velit doloremque sunt. Molestias quo laboriosam inventore cum, maiores eveniet
        consequatur nobis consequuntur ad officiis aut officia veritatis suscipit nisi rerum veniam omnis est fuga
        eaque. Quis cupiditate deserunt, aliquid quo sunt corporis libero sint quisquam magnam incidunt, ipsa modi
        assumenda maxime aliquam nisi ipsam dolore ea fugit! Facere voluptas adipisci harum dolor dolorum, quasi unde
        fugiat ratione odio, blanditiis hic cum eligendi repudiandae quisquam praesentium recusandae impedit quae labore
        minima numquam ex magnam sint voluptates asperiores. Repudiandae corporis blanditiis, sunt commodi id expedita
        rem cupiditate praesentium illum autem exercitationem in! Ratione, molestias.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto quaerat eius laudantium amet consequuntur
        molestias cumque accusantium. Quas omnis quia officiis. Laudantium hic esse laborum nobis dolorem architecto
        sapiente ab suscipit, provident ipsa quod, consectetur assumenda porro, asperiores voluptatem dolorum ea veniam!
        Debitis excepturi itaque nostrum. Libero culpa a unde incidunt voluptatibus similique corrupti vitae ipsum,
        voluptate eaque aperiam nihil numquam animi quod sint natus tempore quisquam id autem in quae commodi? Minima
        provident itaque, beatae hic sequi consectetur nihil voluptatibus, inventore porro expedita cumque aliquid
        ducimus quas quisquam corrupti error nam temporibus quis deleniti odio eos! Repudiandae voluptate cupiditate
        earum accusamus, praesentium vel tempore, recusandae voluptatibus deserunt est dolorum aspernatur, fugiat
        debitis consectetur! Quisquam quam officia quos labore eos et, porro possimus, molestias dignissimos explicabo
        quis laudantium quae, assumenda debitis voluptates fuga corporis? Ut vitae eos cum laborum ducimus consequuntur
        quia aspernatur blanditiis amet quisquam quibusdam nemo nulla nostrum labore, voluptatibus repellat hic omnis
        reiciendis esse rem autem earum minus! Minus suscipit sequi doloremque id laborum iusto necessitatibus similique
        enim! Officia quos voluptate pariatur iste quo expedita consectetur error. Architecto veritatis commodi eos
        veniam distinctio maiores velit reprehenderit, ipsam modi adipisci, eaque itaque iste provident eveniet sequi
        voluptas beatae.
    </p>


</body>

</html>