<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-Bar </title>
    <style>
        *
        {
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
        }
        ul{
            list-style: none;
        }
        nav li a{
            color: white;
        }
        nav{
            background-color: black;
        }
        nav ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>
    <header>
        <nav>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact US</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            
        </nav>
    </header>
</body>
</html>